/project/LightProto/Library/metadata
/project/LightProto/Library
/project/LightProto/*.apk
/project/LightProto/*.zip
/project/LightProto/LightProto-1.0-v1.symbols.zip
/project/LightProto/LightProto.apk
/project/LightProto/Temp
